{% extends 'layouts/main.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="chat-container">
    <div class="chat-header">
        <h1>Админ панель</h1>
        <p>Вход в панель администрирования</p>
    </div>

    <form method="post">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="container">
            <label for="email">Email</label>
            <label><input type="text" name="_username" value="{{ last_username }}"></label>


            <label for="password">Пароль</label>
            <label><input type="password" name="_password"></label>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
            <button type="submit">Войти</button>
        </div>

    </form>
</div>

{% endblock %}
